* {
    box-sizing: border-box;
  }
  
  /* brand color palette */
  :root {
    --primary: rgba(68, 88, 119, 1);
    --secondary: rgba(146, 204, 206, 1);
    --tertiary: rgba(49, 52, 61, 1);
    --dark: rgba(28, 29, 33, 1);
    --light: rgba(238, 238, 247, 1);
  }

  li {
    list-style-type: none;
  }

  ul {
    padding: 0;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--primary);
    background-color: var(--light);
    line-height: 1.5;
  }

  header {
    display: flex;
    background-color: var(--dark);
    color: var(--secondary);
    justify-content: space-around;
  }

  nav {
    display: inline-flex;
    align-items: center;
  }

  .herobanner {
    display: flex;
    height: 15rem;
    background-image: url(/assets/images/02-hero-bg.jpg);
    background-size: cover;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .herobanner h2 {
    color: var(--tertiary);
  }

  main {
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .page-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 3rem;
  }

  #about div {
    flex: 0 60rem;
  }

  h2 {
    border-right: solid;
    flex-basis: 7rem;
    text-align: end;
    padding-right: 10px;
    margin-right: 2em;
    margin-top: 0;
    margin-bottom: 0;
  }
  

#mainpic {
    background-color: black;
    height: 30rem;
    width: 60rem;
    margin-bottom: 1rem;
    background-image: url(/assets/images/02-portfolio-4.jpg);
    background-size: cover;
}

#smallpics {
    display: flex;
    width: 60rem;
    gap: 1rem;
    height: 15rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#smallpics div {
    width: 29rem;
    background-color: blue;
}

#project2 {
    background-image: url(/assets/images/02-portfolio-1.jpg);
    background-size: cover;
}

#project3 {
    background-image: url(/assets/images/02-portfolio-2.jpg);
    background-size: cover;
}

#project4 {
    background-image: url(/assets/images/02-portfolio-3.jpg);
    background-size: cover;
}

#project5 {
    background-image: url(/assets/images/02-run-buddy.jpg);
    background-size: cover;
}

footer div {
    width: 60rem;
}